<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuli.badminton.dao.ReplyLikeMapper">
    
    <resultMap id="likeResultMap" type="com.wuli.badminton.pojo.ReplyLike">
        <id property="id" column="id"/>
        <result property="replyId" column="reply_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    
    <insert id="insert" parameterType="com.wuli.badminton.pojo.ReplyLike">
        INSERT IGNORE INTO reply_like (reply_id, user_id, create_time)
        VALUES (#{replyId}, #{userId}, NOW())
    </insert>
    
    <delete id="delete">
        DELETE FROM reply_like
        WHERE reply_id = #{replyId} AND user_id = #{userId}
    </delete>
    
    <select id="findByReplyIdAndUserId" resultMap="likeResultMap">
        SELECT id, reply_id, user_id, create_time
        FROM reply_like
        WHERE reply_id = #{replyId} AND user_id = #{userId}
        LIMIT 1
    </select>
    
    <select id="countByReplyId" resultType="int">
        SELECT COUNT(*)
        FROM reply_like
        WHERE reply_id = #{replyId}
    </select>
    
</mapper> 